.create-password {
  &__weak {
    color: var(--color-error-default);
  }

  &__average {
    color: var(--color-warning-default);
  }

  &__strong {
    color: var(--color-success-default);
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  &__link-text {
    color: var(--color-primary-default);
  }

  &__form {

    &--password-button {
      color: var(--color-primary-default);
    }

    &--checkmark {
      i {
        color: var(--color-success-default);
      }
    }

    &__terms-label {
      display: flex;
    }

    .form-field__input {
      height: 50px;
      width: 100%;
    }
  }

  &__analytics-iframe {
    width: 1px;
    height: 1px;
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
}

.create-account-wrapper {
  margin: 24px auto;
  padding: 32px 16px;
  min-width: 700px;
  border: 1px solid #ccc;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.form-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.password-form {
  max-width: 320px;
}

.form-group {
  margin-bottom: 15px;
  margin-top: 15px;
}

label {
  display: block;
  text-align: left;
  font-size: 14px;
}

.error {
  color: red;
  font-size: 12px;
  text-align: left;
  margin: 0px;
}


.password-input {
  padding: 15px;
  margin: 15px 0;
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 14px;
  font-size: 16px;
}
