/* Center the content horizontally */
body {
    margin: 0;
  }

.welcome-container {
    text-align: center;
    height: 100vh; /* Make the container full height of the viewport */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .button-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column; /* Display buttons vertically */
    align-items: center; /* Center buttons horizontally */
  }
 